<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="details">
        <img width="50" src="/images/Religious Sites.png"> </img>
        <%= detailProduct.name %>

    </div>
</body>
</html>